*{
    margin: 0;
    padding: 0;
}

body{
    background-color: bisque;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    padding: 15px;
    padding-left: 115px;
}

nav li{
    display: inline;
    justify-content: center;
    padding-inline: 25px;
}

nav .search{
    padding-right: 115px;
}

main .pertanyaan{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-inline: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    text-align: justify;
}

main .jawaban{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-inline: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    text-align: justify;
}

main .box-pertanyaan{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-inline: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    text-align: justify;
    list-style: inside  ;
}

main img{
    width: 50px;
    border-radius: 50%;
}

main .name{
    display: flex;
}

main article{
    padding-top: 15px;
}

