/* *{
    margin: 0;
    padding: 0;
} */

body{
    background-image: url(image/background.jpg);
    margin: 0;
}



nav{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .login .profil{
    width: 50px;
    border-radius: 50%;
}

nav .list-navbar li{
    display: inline-block;
    margin-inline: 30px;
}

nav .list-navbar i{
    width: 10px;
}

.container{
    width: 1000px;
    text-align: justify;
    border-radius: 2%;
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
}

.container .content{
    width: 60%;
    box-sizing: border-box;
    flex-direction: column;
}

.container .content .diskusi{
    padding: 20px;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 5px 4px 8px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1%;
}

.container .content .box-pertanyaan{
    padding: 20px;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 5px 4px 8px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1%;
}

.container .content .diskusi .profil{
    display: flex;
    box-sizing: border-box;
    padding-bottom: 7px;
}

.container .content .profil img{
    align-self: start;
}

.container .content .profil p{
    padding-left: 20px;
    margin: 0;
    color: #747576;
}

.container .news{
    width: 30%;
    height: fit-content;
    background-color: #fff;
    padding: 20px;
    box-shadow: 5px 4px 8px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1%;
}



/* 
main .pertanyaan{
    background-color: white;
    box-shadow: 5px 4px 8px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: justify;
}

main .diskusi{
    display: flex;
    flex-direction: column;
}

main .diskusi .pembahasan{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

main .diskusi .pembahasan aside{
    width: 500px;
}

main .dikusi .pembahasan article{
    width: 600px!important;
}

main .diskusi .profil{
    display: flex;
    gap: 10px;
    align-items: center;
}

.profil p{
    width: 50px;
    display: flex;
}

main .diskusi{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

main .diskusi aside img{
    order: 1;
}



main .box-pertanyaan{
    background-color: white;
    box-shadow: 5px 4px 8px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: justify;
    list-style: inside  ;
}

main aside{
    background-color: white;
    box-shadow: 5px 4px 8px 5px rgba(0, 0, 0, 0.2);
    padding: 20px; 
    text-align: justify;

}

main .berita{
    width: 500px;
    object-fit: cover;
}

footer{
    background-color: #ed2828;
    text-align: center;
    color: white;
    padding: 20px;
}

.profil{
    width: 50px;
    border-radius: 50%;
}

main .name{
    display: flex;
}

main article{
    padding-top: 15px;
} 
 */
