*{
    margin: 0;
    padding: 0;
}

.jumbotron{
    background-color: bisque;
    display: flex;
    padding-left: 10rem;
    padding-block: 15px;
}

.jumbotron input{
    margin-left: 40em;
}

nav{
    display: flex;
    /* justify-content: space-between; */
    background-color: aqua;
    padding: 15px;
    padding-inline-start: 10rem;
    padding-inline-end: 5em;
}

nav li{
    display: inline-block;
    padding-inline-start: 10em;
    padding-inline: 5em;
    /* padding-left: 2em;
    padding-right: 2em; */
}